body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
form{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.label{
    text-align: start;
}
.submit{
    width: 305px;
    height: 45px;
    background-color: #0660B5;
    color: white;
}