<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome Back</h2>
    <div><a>View all students</a></div>
    <div><a>Enrol Student</a></div>
    <div><a>Delete student information</a></div>
    <div><a>Update student information</a></div>
    <div><a>Add an instructoc</a></div>
    <div><a>View courses available</a></div>
    <div><a>Assign Instructor to a course</a></div>
</body>
</html>