{% from "_formhelpers.html" import render_field %}
{% extends 'homepage.html' %}
{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,message in messages %}
            {% if category=="error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif category=="success"%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %} 

    <form method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.current_password) }}<br>
        {{ render_field(form.new_password) }}<br>
        {{ render_field(form.confirm_password) }}<br>
        <input type="submit" value="Submit" class="submit">
    </form>
{% endblock content %}