{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="./static/form.css">
</head>
<body>
    <form method="POST", action="/">
        {{ form.csrf_token }}
        {{ render_field(form.firstName) }}<br>
        {{ render_field(form.lastName) }}<br>
        {{ render_field(form.username) }}<br>
        {{ render_field(form.email) }}<br>
        {{ render_field(form.password) }}<br>
        {{ render_field(form.dateOfBirth) }}<br>
        {{ render_field(form.address) }}<br>
        <input type="submit" value="Sign-up" class="submit">
    </form>

</body>
</html>