<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/table.css">
</head>
<body>
    <h1>Student </h1>
<table>
    <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>email_id</th>
        <th>dateOfBirth</th>
        <th>address</th>
    </tr>
    {% for student in result %}
        <tr>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.email_id}}</td>
            <td>{{student.dateOfBirth}}</td>
            <td>{{student.address}}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>