{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student</title>
    <link rel="stylesheet" href="./static/form.css">
    <style>
        label{
            display: inline;
        }
    </style>
</head>
<body>
    <h1>Select student year to view</h1>
    <form action="/view_class" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.select_year)}}<br> 
        <input type="submit" value="Submit" class=submit>
    </form>
</body>
</html>